<h1>Boas notícias!</h1>

<p><%= link_to @product.name, product_url(@product) %> está de volta ao estoque.</p>

<%= link_to "Descadastrar", unsubscribe_url(token: params[:subscriber].generate_token_for(:unsubscribe)) %>

